<!--
vim: tw=70
SPDX-License-Identifier: (CC-BY-SA-4.0 OR GFDL-1.3-or-later)
Copyright 2018 Francis Tyers, Nick Howell
-->
<h1>Компьютерная лингвистика</h1>
<div style="column-width:30em">
<h2>Description</h2>
<p>This course is an introduction to the pipeline approach to natural
language processing. In a pipeline approach, raw text goes through a
sequence of steps (or tasks) to process it into a form more useful for
end-user applications. The steps we will cover are sentence
segmentation, word tokenisation, morphological analysis and
disambiguation and dependency parsing. This should give you all of the
details you need in order to approach more complex tasks such as
co-reference resolution, relation extraction, etc.</p>
<h2>Organization</h2>
<p>The course is organized into two tracks, known as <em>algorithms</em> (for
those comfortable with introductory NLP engineering techniques) and
<em>engineering</em> (for those unfamiliar with these techniques).
<em>Algorithms</em>-track students have the option of completing a course
project.</p>
<p>The <em>algorithms</em> track will study the algorithms and ideas used in
scientific research in natural language processing. Students will be
asked to use software produced as the result of scientific research,
write their own implementations of important algorithms, and compare
methodologies through a series of small projects called &quot;practicals.&quot;</p>
<p>The <em>engineering</em> track will focus on the tools and techniques used in
software design, analysis, and distribution in the context of natural
language processing. The main topics of study will be Python and UNIX
environment in the context of natural language processing. The course is
completed through a serious of small projects called &quot;practicals.&quot;</p>
<p><em>Algorithms</em>-track students may propose an <em>optional</em> project in groups
or on their own. Instructors can provide suggestions for project ideas.
See the <a href="projects/rfp.html">request for project proposals</a> for more details.</p>
<h2>Objectives</h2>
<p>By the end of this course, <em>algorithms</em>-track students will:</p>
<ul>
<li>Understand issues in segmentation and tokenisation of texts and implement
solutions</li>
<li>Use two-level morphology to model morphological phenomena</li>
<li>Describe and use three approaches to morphological disambiguation</li>
<li>Understand the principles behind transition-based and graph-based dependency
parsing</li>
<li>Know the steps to be able to go from raw text to dependency trees for any
language</li>
</ul>
<p>while <em>engineering</em>-track students will:</p>
<ul>
<li>Be familiar with the syntax of the Python programming language</li>
<li>Be able to navigate the filesystem using the UNIX shell</li>
<li>Be capable of efficiently using online resources to guide their own learning</li>
<li>Be able to use Python to process corpora from the web</li>
<li>Be able to use Python to implement a simple NLP pipeline from scratch</li>
</ul>
<h2>Prior experience</h2>
<p><em>Algorithms</em>-track students are expected to have basic proficiency with Python
and UNIX-like operating systems, and to be capable of answering simple
questions through the use of search engines, documentation, chat systems, etc.</p>
<h2>Practicals</h2>
<ol start="0">
<li>
<h3><a href="practicals/unix.html">UNIX</a> and <a href="appendix/git.html">git</a> (both tracks)</h3>
</li>
<li>
<h3><a href="practicals/segmentation.html">Segmentation &amp; Tokenization</a> (both tracks)</h3>
</li>
<li>
<h3><a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/hfst.html">Finite-state Morphology</a> / <a href="../079-osnov-programm/classes/04_1.html">Transliteration</a></h3>
</li>
<li>
<h3><a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/practicals/disambiguation.html">Morphological disambiguation</a> / <a href="../079-osnov-programm/classes/04_2.html">Unigram model</a></h3>
</li>
<li>
<h3><a href="practicals/dependency.html">Dependency parsing</a> / <a href="../079-osnov-programm/classes/05.html">Unigram part-of-speech tagger</a></h3>
</li>
</ol>
<h2>Appendices</h2>
<ol start="0">
<li><a href="appendix/git.html"><code>git</code> revision control system</a> and associated tools</li>
<li><a href="appendix/pgp.html">Pretty Good Privacy</a> and associated tools</li>
</ol>
<p>See <a href="submission.html">submission guidelines</a>.</p>
<h2>Schedule</h2>
<p>We are scheduled to meet every Tuesday 18.10-21.00 MSK. Generally
we will alternate between classes with new material and
co-working.</p>
<p>Co-working classes are optional, and are an opportunity to work
together on NLP projects (even those not part of the class) and
ask questions of peers and instructors.</p>
<h3>Oct 9</h3>
<p>In this class we will give an introduction to the syllabus and help with
installing the requisite software.</p>
<h3>Oct 16</h3>
<p>Sentence segmentation (<a href="slides/segmentation.pdf">slides</a>,
<a href="https://peertube.xyz/videos/watch/55348c29-1f15-4e8b-a02a-5c7fb21b6acd">video</a>) and tokenization &amp; word segmentation
(<a href="slides/tokenisation.pdf">slides</a>, <a href="https://peertube.xyz/videos/watch/772d548b-e04c-49ae-9c60-7134fc1ba098">video</a>).</p>
<p>Read §3.9 <em>Word and Sentence Tokenisation</em> in <a href="http://www.cs.colorado.edu/%7Emartin/slp.html">Jurafsky-Martin 2ed</a> and
§4.2.4 <em>Sentences</em> in <a href="https://nlp.stanford.edu/fsnlp/">Manning-Schütze</a>. <a href="quizzes/quiz-01.html">Reading quiz</a> due
Tue Oct 30.</p>
<p>Start <a href="practicals/segmentation.html">practical 1</a>.</p>
<h3>Oct 23</h3>
<p>Exam week, no class.</p>
<h3>Oct 30</h3>
<p>Co-work on <a href="practicals/segmentation.html">Segmentation &amp; Tokenization</a>.</p>
<p>Due: <a href="quizzes/quiz-01.html">quiz 1</a>.</p>
<h3>Nov 2 (<strong>Friday</strong>)</h3>
<p>Finite-state morphology (<a href="slides/morphology.pdf">slides</a>,
<a href="https://peertube.xyz/videos/watch/5811dfa7-9984-4c02-97e2-90934810fe9e">video</a>).</p>
<p>Read §3.2-3.7 of <a href="http://www.cs.colorado.edu/%7Emartin/slp.html">Jurafsky-Martin 2ed</a>, and all (but especially §4) of
<a href="https://web.stanford.edu/%7Elaurik/publications/fsc-91/fsc91.html">Karttunen</a>. <a href="quizzes/quiz-02.html">Reading quiz</a> due <!-- FIXME: --> no
earlier than Nov 13.</p>
<p>Due: <a href="practicals/segmentation.html">practical 1 Segmentation &amp; Tokenization</a>, <a href="projects/rfp.html">project proposals</a>.</p>
<p>Start practical 2, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/hfst.html">Finite-state Morphology</a> (algorithms) or
<a href="../079-osnov-programm/classes/04_1.html">Transliteration</a> (engineering).</p>
<h3>Nov 6</h3>
<p>Co-work on practical 2, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/hfst.html">Finite-state Morphology</a> (algorithms) or
<a href="../079-osnov-programm/classes/04_1.html">Transliteration</a> (engineering).</p>
<h3>Nov 13</h3>
<p>Co-work on practical 2, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/hfst.html">Finite-state Morphology</a> (algorithms) or
<a href="../079-osnov-programm/classes/04_1.html">Transliteration</a> (engineering).</p>
<h3>Nov 20</h3>
<p>Morphological disambiguation (<a href="slides/disambiguation.pdf">slides</a>,
[video][disambiguation-video]).</p>
<p>Read §5.1-5.8 in <a href="http://www.cs.colorado.edu/%7Emartin/slp.html">Jurafsky-Martin 2ed</a>. <a href="quizzes/quiz-03.html">Reading quiz</a> due Dec 11.</p>
<p>Start practical 3, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/practicals/disambiguation.html">Morphological disambiguation</a> (algorithms) or
<a href="../079-osnov-programm/classes/04_2.html">Unigram model</a> (engineering).</p>
<h3>Nov 25 (Sunday)</h3>
<p>Due: practical 2, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/hfst.html">Finite-state Morphology</a> (algorithms) or
<a href="../079-osnov-programm/classes/04_1.html">Transliteration</a> (engineering), <a href="quizzes/quiz-02.html">quiz-02</a>.</p>
<h3>Nov 27</h3>
<p>Keysigning party; co-work on practical 3, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/practicals/disambiguation.html">Morphological
disambiguation</a> (algorithms) or <a href="../079-osnov-programm/classes/04_2.html">Unigram model</a> (engineering).</p>
<p><em>Keysigning party</em>: create a pgp identity, and publish it to a
keyserver. Bring a notecard or piece of paper with your uid and
fingerprint. See <a href="appendix/pgp.html">PGP tutorial</a> for details.</p>
<h3>Dec 4</h3>
<p>Co-work on practical 3, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/practicals/disambiguation.html">Morphological
disambiguation</a> (algorithms) or <a href="../079-osnov-programm/classes/04_2.html">Unigram model</a> (engineering).</p>
<h3>Dec 11</h3>
<p>Dependency parsing ([slides][dep-parse-slides],
[video][dep-parse-video]).</p>
<p>Read Chapter 13 <em>Dependency parsing</em> in <a href="https://web.stanford.edu/%7Ejurafsky/slp3/">Jurafsky-Martin 3ed</a>. [Reading
quiz][dep-parse-quiz] due <!-- FIXME --> no earlier than Dec 18.</p>
<p>Due: practical 3, <a href="../2017-%D0%9A%D0%9B_%D0%9C%D0%9A%D0%9B/practicals/disambiguation.html">Morphological disambiguation</a> (algorithms) or
<a href="../079-osnov-programm/classes/04_2.html">Unigram model</a> (engineering), <a href="quizzes/quiz-03.html">quiz-03</a>.</p>
<p>Start practical 4, <a href="practicals/dependency.html">Dependency parsing</a> (algorithms) or <a href="../079-osnov-programm/classes/05.html">Unigram
part-of-speech tagger</a> (engineering).</p>
<h3>Dec 18</h3>
<p>Co-work on practical 4, <a href="practicals/dependency.html">Dependency parsing</a> (algorithms) or <a href="../079-osnov-programm/classes/05.html">Unigram
part-of-speech tagger</a> (engineering).</p>
<h3>&amp;ldots;</h3>
<p>Some things happened</p>
<h3>March 12</h3>
<p>Start practical on <a href="../028-komp-ling/classes/11.html">Coreference</a>. Read Chapter 21 <strong>Computaional
Discourse</strong> in <a href="https://web.stanford.edu/%7Ejurafsky/slp3/">Jurafsky-Martin 3ed</a>.</p>
<h3>March 19</h3>
<p>No class; continue working on <a href="../028-komp-ling/classes/11.html">Coreference</a>.</p>
<h3>March 26</h3>
<p><a href="../028-komp-ling/classes/11.html">Coreference</a> practical due.</p>
<h2>Details</h2>
<h3>Submission</h3>
<p>All submissions are carried out through pull-requests on
[Github][github.com]. See <a href="submission.html">submission guidelines</a> for details.</p>
<p>Deadlines are all 23:59:59 <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">anywhere on
earth</a>.</p>
<h3>Marking</h3>
<ul>
<li>70% Practicals</li>
<li>20% Reading Quizzes</li>
<li>10% Active participation</li>
</ul>
<h3>Quizzes</h3>
<p>Each lecture will have a short reading quiz attached.</p>
<h3>Active participation</h3>
<p>Beyond simply showing up, I encourage you to contribute to
discussions by asking questions, answering questions, making
relevant comments, helping classmates and asking for help with
in-class activities, etc. There are no stupid questions — I
want to make sure everyone grasps the concepts, and many are not
as straightforward as they may first seem (or as I think they
are). You are also expected to have read any assigned readings
before class.</p>
<h3>In the classroom</h3>
<p>Note on pronouns: If you'd like to be referred to by a pronoun
that you think we might not guess correctly or if you notice us
referring to you by some other pronoun than what you'd prefer,
please let me know so that we can get it right.</p>
<p>Note on language: If we are talking too fast, or if we use an
expression that you do not understand and you think it is having
an effect on your learning, please ask us to slow down. You are
welcome to come and talk to us at any time about issues relating
to language. We will be happy to discuss them.</p>
<!-- References -->
</div>
